router bgp {{host.conf.bgp.asn}}
bgp router-id {{host.conf.bgp.router_id}}
{% if host.conf.bgp.route_reflector == True %}
neighbor {{host.conf.bgp.peer_group}} peer-group
neighbor {{host.conf.bgp.peer_group}} remote-as {{host.conf.bgp.asn}}
neighbor {{host.conf.bgp.peer_group}} update-source {{host.conf.bgp.update_source}}
neighbor {{host.conf.bgp.peer_group}} route-reflector-client
{% for neighbor in host.conf.bgp.neighbors %}
neighbor {{ neighbor}} peer-group {{host.conf.bgp.peer_group}}
{% endfor %}
{% endif %}
{%if host.conf.bgp.route_reflector==False %}
{% for neighbor in host.conf.bgp.neighbors%}
neighbor {{neighbor}} remote-as {{host.conf.bgp.asn}}
neighbor {{neighbor}} update-source {{host.conf.bgp.update_source}}
{%endfor%}
{%endif %}
